/* Place styles format here for best practices usage */

#section-one {
    width: 60%;
    height: 100vh;

    background-image: url("images/bg-pattern-desktop.svg");
    /* linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)), */
    background-color: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    float: left;
}
#section-two {
    width: 40%;
    height: 100vh;
        
    background-image: url("./images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    float: right;

    
}

body {
    padding: 0;
    margin: 0;

    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }